services:
  - type: web
    name: cbf-antidoping
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: SESSION_DRIVER
        value: database
      - key: DB_CONNECTION
        value: pgsql
      - key: RUN_MIGRATIONS
        value: "true"
    healthCheckPath: /up

